<div class="h-full p-6 border-r border-gray-300 hover:bg-gray-200">
    <form #instructionForm="ngForm" (ngSubmit)="handleFormSubmit()">
        <!-- Input label -->
        <label for="instruction" class="block text-2xl text-blue-800 mb-2">
            Instruction editing
        </label>

        <!-- Input -->
        <input type="text"
               id="instruction"
               name="instruction"
               placeholder="Enter instruction to simulate"
               [(ngModel)]="instructionText"
               [ngClass]="{ 'border-red-500': !instructionForm.valid && !instructionForm.pristine }"
               class="border rounded p-2 w-full border-gray-500 outline-none"
               required>
    </form>

    <!-- Manual -->
    <div class="mt-3 text-gray-500 italic">
        <span>You can simulate few different instructions:</span>

        <ul class="list-disc ml-10 mt-1 text-gray-600">
            <li *ngFor="let instruction of availableInstructions">
                <span class="text-blue-900 font-bold">{{ instruction.alias }}</span>
                <span class="inline-block ml-2">({{ instruction.example }})</span>
            </li>
        </ul>

        <span class="mt-2 inline-block">Make sure you spell check your instruction.</span>
        <br>
        <span class="mt-2 inline-block">If you are using instructions that access the memory or use registers, don't forget to set their values.</span>
    </div>
</div>
