<div class="p-4 pt-5 flex flex-col items-center text-white bg-blue-900">
    <span class="flex flex-row mb-4 inline-block">
        <!-- GitHub -->
        <a href="https://github.com/aleksa-sukovic"
           target="_blank"
           class="text-white align-middle mr-2">
            <img src="assets/svg/github.svg" width="18px" height="18px" alt="Github Link">
        </a>

        <!-- LinkedIn -->
        <a href="https://me.linkedin.com/in/aleksa-sukovic"
           target="_blank"
           class="text-white align-middle ml-2 hover:underline hover:text-blue-100">
            <img src="assets/svg/linked-in.svg" width="18px" height="18px" alt="LinkedIn Link">
        </a>

        <!-- Website -->
        <a href="https://alsk.dev"
           target="_blank"
           class="text-white align-middle ml-4 hover:underline hover:text-blue-100">
            <img src="assets/svg/website.svg" width="18px" height="18px" alt="Portfolio Link">
        </a>
    </span>

    <span class="text-sm font-thin mb-0 pb-0">
        Copyright &copy; 2020 <span class="font-bold">Aleksa Sukovic</span>
    </span>
</div>
