<div class="flex flex-col items-center p-4 pt-5 text-white bg-blue-900">
    <span class="flex flex-row mb-4">
        <div class="flex flex-row items-center justify-center mb-2 text-center">
            <app-url-icon icon="assets/svg/github.svg" label="GitHub" url="https://github.com/aleksa-sukovic" class="mr-2"></app-url-icon>
            <app-url-icon icon="assets/svg/linkedin.svg" label="LinkedIn" url="https://www.linkedin.com/in/aleksa-sukovic" class="ml-2 mr-2"></app-url-icon>
            <app-url-icon
                icon="assets/svg/scholar.svg"
                label="Scholar"
                url="https://scholar.google.com/citations?user=HqkjkXIAAAAJ"
                class="ml-2 mr-2"
            ></app-url-icon>
            <app-url-icon icon="assets/svg/website.svg" label="Website" url="https://aleksa-sukovic.github.io" class="ml-2 mr-2"></app-url-icon>
        </div>
    </span>

    <span class="pb-0 mb-0 text-sm font-thin">
        Copyright &copy; {{ year }} <span class="font-bold">Aleksa Sukovic</span>
    </span>
</div>
