.slider {
    -webkit-appearance: none;
    height: 10px;
    background: #c05621;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #2a4365;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background: #2a4365;
    cursor: pointer;
}
