<div class="bg-gray-200 rounded-lg shadow-md p-4">
    <svg viewBox="0 0 2660 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="189" d="M1168 559V442.086H1269L1269.5 236.5H1165.5" stroke="black"/>
        <path id="188" d="M1387 467V216H1179.5" stroke="black"/>
        <path id="187" d="M1736.5 777.5V804H1777V176L1191 176" stroke="black"/>
        <path id="186" d="M1816.5 881.5V914H1987V156H1192" stroke="black"/>
        <path id="185" d="M2211 260V116H1190.5" stroke="black"/>
        <path id="184" d="M1209.5 698.5V377.5H1048.5V236.5H1122.5" stroke="black"/>
        <path id="183" d="M857 467.5V216H1109" stroke="black"/>
        <path id="182" d="M562 466V196H1101" stroke="black"/>
        <path id="181" d="M407 467V176H1097" stroke="black"/>
        <path id="180" d="M311 422V156H1095" stroke="black"/>
        <path id="179" d="M1966.5 564H1976V287.5H777.5" stroke="black"/>
        <path id="178" d="M666.5 276H732.5" stroke="black"/>
        <path id="177" d="M197 392V269H617.5" stroke="black"/>
        <path id="175" d="M667.5 256H696.534V116H1097.5" stroke="black"/>
        <path id="176" d="M777 266H827.223V136H1095.5" stroke="black"/>
        <path id="174" d="M1736 406V196H1187" stroke="black"/>
        <path id="173" d="M2067 308V136H1193" stroke="black"/>
        <text id="172" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1197" y="229.943">RegDst</tspan></text>
        <text id="171" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1197" y="208.943">RegWrite</tspan></text>
        <text id="170" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1197" y="188.943">ALUSelA</tspan></text>
        <text id="169" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1197" y="168.943">ALUSelB</tspan></text>
        <text id="168" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1197" y="149.943">ALUOp</tspan></text>
        <text id="167" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1197" y="128.943">TargetWrite</tspan></text>
        <text id="166" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1197" y="109.943">PCSource</tspan></text>
        <text id="165" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1024.62" y="229.943">MemToReg</tspan></text>
        <text id="164" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1049.33" y="208.943">IRWrite</tspan></text>
        <text id="163" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1031.24" y="188.943">MemWrite</tspan></text>
        <text id="162" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1032.04" y="168.943">MemRead</tspan></text>
        <text id="161" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1067.49" y="149.943">lorD</tspan></text>
        <text id="160" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1013.83" y="128.943">PCWriteCond</tspan></text>
        <text id="159" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1044.22" y="109.943">PCWrite</tspan></text>
        <path id="158" d="M979 522H1005V469.574V417H1144V360" stroke="black" stroke-width="2"/>
        <circle id="157" cx="260" cy="640" r="3" fill="black"/>
        <circle id="156" cx="671" cy="492" r="3" fill="black"/>
        <circle id="155" cx="1037" cy="492" r="3" fill="black"/>
        <circle id="154" cx="1099" cy="535" r="3" fill="black"/>
        <circle id="153" cx="1037" cy="535" r="3" fill="black"/>
        <circle id="152" cx="1037" cy="643" r="3" fill="black"/>
        <circle id="151" cx="1037" cy="675" r="3" fill="black"/>
        <circle id="150" cx="1142" cy="936" r="3" fill="black"/>
        <circle id="148" cx="1409" cy="833" r="3" fill="black"/>
        <circle id="147" cx="1587" cy="833" r="3" fill="black"/>
        <circle id="144" cx="1603" cy="667" r="3" fill="black"/>
        <circle id="143" cx="1997" cy="610" r="3" fill="black"/>
        <circle id="142" cx="1857" cy="395" r="3" fill="black"/>
        <circle id="141" cx="1997" cy="330" r="3" fill="black"/>
        <circle id="140" cx="1650" cy="359" r="3" fill="black"/>
        <circle id="139" cx="250" cy="451" r="3" fill="black"/>
        <path id="137" d="M673 492H729.5" stroke="black" stroke-width="2"/>
        <path id="136" d="M670.999 492L670.999 883L1142 883" stroke="black" stroke-width="2"/>
        <path id="135" d="M673 492H729.5" stroke="black" stroke-width="2"/>
        <path id="134" d="M619 492H669.5" stroke="black" stroke-width="2"/>
        <path id="133" d="M260 641L260 936L1142 936" stroke="black" stroke-width="2"/>
        <path id="132" d="M260 641.5V531H284.5" stroke="black" stroke-width="2"/>
        <path id="131" d="M260 640H369.5" stroke="black" stroke-width="2"/>
        <path id="130" d="M335 491H369" stroke="black" stroke-width="2"/>
        <path id="129" d="M250 451H284" stroke="black" stroke-width="2"/>
        <path id="128" d="M250 451L250 359L1143 359" stroke="black" stroke-width="2"/>
        <path id="127" d="M216 451H250" stroke="black" stroke-width="2"/>
        <path id="126" d="M731 492L722 497.196L722 486.804L731 492Z" fill="black"/>
        <path id="125" d="M1266 641L1257 646.196L1257 635.804L1266 641Z" fill="black"/>
        <path id="124" d="M1266 693L1257 698.196L1257 687.804L1266 693Z" fill="black"/>
        <path id="123" d="M1471 833L1462 838.196L1462 827.804L1471 833Z" fill="black"/>
        <path id="122" d="M1712 721L1703 726.196L1703 715.804L1712 721Z" fill="black"/>
        <path id="121" d="M1712 749L1703 754.196L1703 743.804L1712 749Z" fill="black"/>
        <path id="120" d="M1712 694L1703 699.196L1703 688.804L1712 694Z" fill="black"/>
        <path id="119" d="M1634 833L1625 838.196L1625 827.804L1634 833Z" fill="black"/>
        <path id="118" d="M1712 667L1703 672.196L1703 661.804L1712 667Z" fill="black"/>
        <path id="117" d="M1846 641L1837 646.196L1837 635.804L1846 641Z" fill="black"/>
        <path id="116" d="M1846 536L1837 541.196L1837 530.804L1846 536Z" fill="black"/>
        <path id="115" d="M2029 330L2020 335.196L2020 324.804L2029 330Z" fill="black"/>
        <path id="114" d="M2187 369L2178 374.196L2178 363.804L2187 369Z" fill="black"/>
        <path id="113" d="M2187 329L2178 334.196L2178 323.804L2187 329Z" fill="black"/>
        <path id="112" d="M2187 289L2178 294.196L2178 283.804L2187 289Z" fill="black"/>
        <path id="111" d="M1191 783L1182 788.196L1182 777.804L1191 783Z" fill="black"/>
        <path id="110" d="M1191 721L1182 726.196L1182 715.804L1191 721Z" fill="black"/>
        <path id="109" d="M1266 547L1257 552.196L1257 541.804L1266 547Z" fill="black"/>
        <path id="108" d="M1150 581L1141 586.196L1141 575.804L1150 581Z" fill="black"/>
        <path id="107" d="M1150 643L1141 648.196L1141 637.804L1150 643Z" fill="black"/>
        <path id="106" d="M1266 492L1257 497.196L1257 486.804L1266 492Z" fill="black"/>
        <path id="105" d="M1713 516L1704 521.196L1704 510.804L1713 516Z" fill="black"/>
        <path id="104" d="M1713 435L1704 440.196L1704 429.804L1713 435Z" fill="black"/>
        <path id="103" d="M1857 396L1851.8 387L1862.2 387L1857 396Z" fill="black"/>
        <path id="102" d="M1144 245L1149.2 254H1138.8L1144 245Z" fill="black"/>
        <path id="101" d="M371 640L362 645.196L362 634.804L371 640Z" fill="black"/>
        <path id="100" d="M371 691L362 696.196L362 685.804L371 691Z" fill="black"/>
        <path id="99" d="M286 531L277 536.196L277 525.804L286 531Z" fill="black"/>
        <path id="98" d="M371 491L362 496.196L362 485.804L371 491Z" fill="black"/>
        <path id="97" d="M286 451L277 456.196L277 445.804L286 451Z" fill="black"/>
        <path id="96" d="M179 451L170 456.196L170 445.804L179 451Z" fill="black"/>
        <path id="95" d="M978 675H1036" stroke="black" stroke-width="2"/>
        <path id="94" d="M1037 535H1215V547H1264" stroke="black" stroke-width="2"/>
        <path id="93" d="M1037 492.5L1261.5 492.5" stroke="black" stroke-width="2"/>
        <path id="92" d="M1514 516H1711" stroke="black" stroke-width="2"/>
        <path id="91" d="M1145 359H1649.5" stroke="black" stroke-width="2"/>
        <path id="90" d="M1036.5 643H1149" stroke="black" stroke-width="2"/>
        <path id="89" d="M1037 675L1037 833L1141.5 833" stroke="black" stroke-width="2"/>
        <path id="88" d="M1037 417L1037 492" stroke="black" stroke-width="2"/>
        <path id="87" d="M1037 492L1037 535" stroke="black" stroke-width="2"/>
        <path id="86" d="M1649.5 395L1144.5 395" stroke="black" stroke-width="2"/>
        <path id="85" d="M1144 395L1037 395L1037 417" stroke="black" stroke-width="2"/>
        <path id="84" d="M1037 643L1037 675" stroke="black" stroke-width="2"/>
        <path id="83" d="M1037 535L1037 643" stroke="black" stroke-width="2"/>
        <path id="82" d="M1264.5 641L1232 641L1232 610.5L1186.5 610.5" stroke="black" stroke-width="2"/>
        <text id="81" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1044" y="469.785">Intruction&#10;</tspan><tspan x="1044" y="485.785">[25-21]</tspan></text>
        <text id="80" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1044" y="512.785">Intruction&#10;</tspan><tspan x="1044" y="528.785">[20-16]</tspan></text>
        <text id="79" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1044" y="620.785">Intruction&#10;</tspan><tspan x="1044" y="636.785">[15-11]</tspan></text>
        <text id="78" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1044" y="807.785">Intruction&#10;</tspan><tspan x="1044" y="823.785">[15-0]</tspan></text>
        <text id="77" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1414" y="879.785">Intruction&#10;</tspan><tspan x="1414" y="895.785">[5-0]</tspan></text>
        <text id="76" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1793" y="352.785">PC [31-28]</tspan></text>
        <text id="75" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1429" y="822.785">16</tspan></text>
        <path id="74" d="M1099 536V581H1148" stroke="black" stroke-width="2"/>
        <path id="73" d="M1228 755H1245.23V693H1265" stroke="black" stroke-width="2"/>
        <path id="72" d="M1142 936V921.5" stroke="black" stroke-width="2"/>
        <path id="71" d="M1142 922V883" stroke="black" stroke-width="2"/>
        <path id="70" d="M1142 883L1167 883L1167 834" stroke="black" stroke-width="2"/>
        <path id="190" d="M1142 833L1167 833" stroke="black" stroke-width="2"/>
        <path id="68" d="M1142 883V833" stroke="black" stroke-width="2"/>
        <path id="67" d="M1142 833V721H1189.5" stroke="black" stroke-width="2"/>
        <path id="66" d="M1167 833L1167 783H1188.5" stroke="black" stroke-width="2"/>
        <path id="65" d="M370 691L337 691L337 921.003L1141.5 921.003" stroke="black" stroke-width="2"/>
        <path id="69" d="M1167 833.001L1408.5 833.001" stroke="black" stroke-width="2"/>
        <path id="63" d="M1142 936L1997 935.999C1997 935.999 1997 760.31 1997 633C1997 630.266 1997 610 1997 610" stroke="black" stroke-width="2"/>
        <path id="62" d="M1408.5 833.003L1464 833.002" stroke="black" stroke-width="2"/>
        <path id="61" d="M1519 833.004L1569 833.003" stroke="black" stroke-width="2"/>
        <path id="60" d="M1587 833.001L1603 833.001" stroke="black" stroke-width="2"/>
        <path id="59" d="M1569 833L1587 833" stroke="black" stroke-width="2"/>
        <path id="58" d="M1569 905L1569 921L1142 921" stroke="black" stroke-width="2"/>
        <path id="57" d="M1569 905L1603 905" stroke="black" stroke-width="2"/>
        <path id="56" d="M1569 833L1569 905" stroke="black" stroke-width="2"/>
        <path id="55" d="M1569 667H1603" stroke="black" stroke-width="2"/>
        <path id="54" d="M1569 668L1569 833" stroke="black" stroke-width="2"/>
        <path id="53" d="M1604 833.001L1632 833.001" stroke="black" stroke-width="2"/>
        <path id="52" d="M1444 839L1431 826" stroke="black"/>
        <text id="51" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1536" y="822.785">32</tspan></text>
        <text id="50" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1667" y="698.785">4</tspan></text>
        <path id="49" d="M1551 839L1538 826" stroke="black"/>
        <text id="48" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="2011" y="384.785">30</tspan></text>
        <path id="47" d="M2026 401L2013 388" stroke="black"/>
        <text id="46" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="2113" y="384.785">32</tspan></text>
        <path id="45" d="M2128 401L2115 388" stroke="black"/>
        <path id="44" d="M1603 905L1744.5 905L1744.5 834L1791 834" stroke="black" stroke-width="2"/>
        <path id="43" d="M1603 833V720.5" stroke="black" stroke-width="2"/>
        <path id="42" d="M1603 905V833" stroke="black" stroke-width="2"/>
        <path id="41" d="M1603 720V666" stroke="black" stroke-width="2"/>
        <path id="40" d="M1603 667L1710.5 667" stroke="black" stroke-width="2"/>
        <path id="39" d="M1514 667L1569 667" stroke="black" stroke-width="2"/>
        <path id="38" d="M1710 721L1603 721" stroke="black" stroke-width="2"/>
        <path id="37" d="M1912 644L1912 834L1840 834" stroke="black" stroke-width="2"/>
        <path id="36" d="M1710 749L1690 749L1690 833L1671 833" stroke="black" stroke-width="2"/>
        <path id="35" d="M1710 694L1679.5 694" stroke="black" stroke-width="2"/>
        <path id="34" d="M1144 358.75V254" stroke="black" stroke-width="2"/>
        <path id="33" d="M1650 395V358" stroke="black" stroke-width="2"/>
        <path id="32" d="M1997 610L1967 610" stroke="black" stroke-width="2"/>
        <path id="31" d="M2027 330L1997 330" stroke="black" stroke-width="2"/>
        <path id="30" d="M2040.5 395L1997 395" stroke="black" stroke-width="2"/>
        <path id="29" d="M1997 395L1857 395" stroke="black" stroke-width="2"/>
        <path id="28" d="M2186 289L1997 289L1997 330" stroke="black" stroke-width="2"/>
        <path id="27" d="M2185.5 329L2105.5 329" stroke="black" stroke-width="2"/>
        <path id="26" d="M178 451H155L155 37.0001L2267 37.0001L2267 331.67L2235.55 331.67" stroke="black" stroke-width="2"/>
        <path id="25" d="M1997 394V338.5V330" stroke="black" stroke-width="2"/>
        <path id="24" d="M2185.5 369L2155.25 369L2155.25 395L2090 395" stroke="black" stroke-width="2"/>
        <path id="23" d="M1997 610L1997 396" stroke="black" stroke-width="2"/>
        <path id="22" d="M1844 536L1797 536L1797 476L1762 476" stroke="black" stroke-width="2"/>
        <path id="21" d="M1844 641L1797 641L1797 709L1762 709" stroke="black" stroke-width="2"/>
        <path id="20" d="M1857 394L1857 359L1651 359" stroke="black" stroke-width="2"/>
        <path id="19" d="M1857 394.999L1651 394.999" stroke="black" stroke-width="2"/>
        <path id="18" d="M1711 435.5H1650L1650 395" stroke="black" stroke-width="2"/>
        <path id="17" d="M1587 834V721L1603 721" stroke="black" stroke-width="2"/>
        <path id="16" d="M1409 833L1409 905L1569 905" stroke="black" stroke-width="2"/>
        <path id="15" d="M1793 834L1784 839.196L1784 828.804L1793 834Z" fill="black"/>
        <rect id="14" x="1143" y="394" width="2" height="2" fill="black"/>
        <rect id="13" x="1143" y="358" width="2" height="2" fill="black"/>
        <rect id="12" x="1649" y="394" width="2" height="2" fill="black"/>
        <rect id="11" x="1996" y="394" width="2" height="2" fill="black"/>
        <rect id="10" x="1036" y="416" width="2" height="2" fill="black"/>
        <rect id="9" x="1141" y="832" width="2" height="2" fill="black"/>
        <rect id="8" x="1166" y="832" width="2" height="2" fill="black"/>
        <rect id="7" x="1141" y="882" width="2" height="2" fill="black"/>
        <rect id="6" x="1568" y="904" width="2" height="2" fill="black"/>
        <rect id="5" x="1602" y="904" width="2" height="2" fill="black"/>
        <rect id="4" x="1602" y="832" width="2" height="2" fill="black"/>
        <rect id="3" x="1602" y="720" width="2" height="2" fill="black"/>
        <rect id="2" x="1141" y="920" width="2" height="2" fill="black"/>
        <rect id="1" x="1568" y="666" width="2" height="2" fill="black"/>
        <path id="AND_gate_background" d="M754.462 298.925C742.057 298.925 732 288.868 732 276.462C732 264.057 742.057 254 754.462 254L776.925 254L776.925 298.925L754.462 298.925Z" fill="white" stroke="black" stroke-width="2"/>
        <path id="OR_gate_background" d="M655.002 286.059C648.213 286.059 638.852 284.349 631.218 280.943C623.499 277.5 618 272.546 618 266.273C618 260.127 623.44 255.299 631.085 251.952C638.642 248.643 647.897 247 654.57 247L669.571 247C666.906 254.442 665.541 260.466 665.539 266.528C665.536 272.59 666.895 278.616 669.57 286.059L655.002 286.059Z" fill="white" stroke="black" stroke-width="2"/>
        <rect id="RegDst_background" x="1149" y="559" width="38" height="105.692" rx="19" fill="white" stroke="black" stroke-width="2"/>
        <text id="RegDst_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1169.83" y="604.969">m&#10;</tspan><tspan x="1172.43" y="623.969">u&#10;</tspan><tspan x="1172.88" y="642.969">x</tspan></text>
        <text id="RegDst_0_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1158.51" y="588.507">0</tspan></text>
        <circle id="RegDst_0_dot" cx="1155.69" cy="581.231" r="1.53846" fill="black"/>
        <text id="RegDst_1_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1158.51" y="650.046">1</tspan></text>
        <circle id="RegDst_1_dot" cx="1155.69" cy="642.769" r="1.53846" fill="black"/>
        <rect id="RegDst_background_2" x="1190" y="699" width="38" height="105.692" rx="19" fill="white" stroke="black" stroke-width="2"/>
        <text id="RegDst_text_2" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1210.83" y="744.969">m&#10;</tspan><tspan x="1213.43" y="763.969">u&#10;</tspan><tspan x="1213.88" y="782.969">x</tspan></text>
        <text id="RegDst_0_text_2" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1199.51" y="728.507">0</tspan></text>
        <circle id="RegDst_0_dot_2" cx="1196.69" cy="721.231" r="1.53846" fill="black"/>
        <text id="RegDst_1_text_2" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1199.51" y="790.046">1</tspan></text>
        <circle id="RegDst_1_dot_2" cx="1196.69" cy="782.769" r="1.53846" fill="black"/>
        <rect id="registers_background" x="1265" y="467" width="248" height="248" rx="8" fill="white" stroke="black" stroke-width="2"/>
        <text id="registers_label" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="20" font-weight="900" letter-spacing="0em"><tspan x="1345" y="597.336">Registers</tspan></text>
        <circle id="read_register_1_label_dot" cx="1274" cy="492" r="2" fill="black"/>
        <text id="read_register_1_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1284" y="488.785">Read&#10;</tspan><tspan x="1284" y="504.785">Register 1</tspan></text>
        <g id="read_register_2_label">
            <circle id="read_register_2_label_dot" cx="1274" cy="547" r="2" fill="black"/>
            <text id="read_register_2_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1284" y="542.785">Read&#10;</tspan><tspan x="1284" y="558.785">Register 2</tspan></text>
        </g>
        <circle id="read_data_1_label_dot" cx="1503" cy="516" r="2" fill="black"/>
        <text id="read_data_1_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1418.91" y="519.785">Read data 1</tspan></text>
        <circle id="read_data_2_label_dot" cx="1503" cy="667" r="2" fill="black"/>
        <text id="read_data_2_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1418.91" y="671.785">Read data 2</tspan></text>
        <circle id="write_register_label_dot" cx="1274" cy="643" r="2" fill="black"/>
        <text id="write_register_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1284" y="638.785">Write&#10;</tspan><tspan x="1284" y="654.785">Register</tspan></text>
        <circle id="write_data_label_dot" cx="1274" cy="693" r="2" fill="black"/>
        <text id="write_data_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1284" y="688.785">Write&#10;</tspan><tspan x="1284" y="704.785">data</tspan></text>
        <rect id="instruction_background" x="730" y="467" width="248" height="248" rx="8" fill="white" stroke="black" stroke-width="2"/>
        <text id="instruction_label" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="20" font-weight="900" letter-spacing="0em"><tspan x="804.193" y="586.336">Instruction&#10;</tspan><tspan x="818.051" y="609.336">register</tspan></text>
        <circle id="instruction_25_0_label_dot" cx="968" cy="522" r="2" fill="black"/>
        <text id="instruction_25_0_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="891.172" y="519.785">Instruction&#10;</tspan><tspan x="915.248" y="535.785">[31-26]</tspan></text>
        <circle id="instruction_31_26_label_dot" cx="968" cy="675" r="2" fill="black"/>
        <text id="instruction_31_26_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="891.172" y="671.785">Instruction&#10;</tspan><tspan x="923.109" y="687.785">[25-0]</tspan></text>
        <rect id="memory_background" x="370" y="467" width="248" height="248" rx="8" fill="white" stroke="black" stroke-width="2"/>
        <text id="memory_label" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="20" font-weight="900" letter-spacing="0em"><tspan x="456.49" y="597.336">Memory</tspan></text>
        <circle id="mem_data_label_dot" cx="608" cy="492" r="2" fill="black"/>
        <text id="mem_data_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="537.078" y="495.785">MemData</tspan></text>
        <circle id="read_address_label_dot" cx="379" cy="491" r="2" fill="black"/>
        <text id="read_address_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="384" y="494.785">Read Address</tspan></text>
        <circle id="write_address_label_dot" cx="379" cy="640" r="2" fill="black"/>
        <text id="write_address_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="384" y="643.785">Write address</tspan></text>
        <circle id="write_data_label_dot_2" cx="379" cy="691" r="2" fill="black"/>
        <text id="write_data_label_text_2" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="384" y="694.785">Write data</tspan></text>
        <rect id="lorD_background" x="285" y="422" width="50" height="138" rx="25" fill="white" stroke="black" stroke-width="2"/>
        <text id="lorD_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="314.484" y="477.969">m&#10;</tspan><tspan x="317.086" y="496.969">u&#10;</tspan><tspan x="317.531" y="515.969">x</tspan></text>
        <text id="lorD_0_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="299.008" y="455.969">0</tspan></text>
        <circle id="lorD_0_dot" cx="294" cy="451" r="2" fill="black"/>
        <text id="lorD_1_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="299.008" y="535.969">1</tspan></text>
        <circle id="lorD_1_dot" cx="294" cy="531" r="2" fill="black"/>
        <path id="Control_background" d="M1193 147C1193 174.493 1187.43 199.333 1178.46 217.263C1169.47 235.254 1157.22 246 1144 246C1130.78 246 1118.53 235.254 1109.54 217.263C1100.57 199.333 1095 174.493 1095 147C1095 119.507 1100.57 94.6669 1109.54 76.7365C1118.53 58.7464 1130.78 48 1144 48C1157.22 48 1169.47 58.7464 1178.46 76.7365C1187.43 94.6669 1193 119.507 1193 147Z" fill="white" stroke="black" stroke-width="2"/>
        <text id="Control_claim" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="1123.37" y="80.1016">Outputs</tspan></text>
        <circle id="ALU_result_label_dot" cx="1144" cy="237" r="2" fill="black"/>
        <text id="Control_op_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="1136.51" y="214.102">Op&#10;</tspan><tspan x="1132.42" y="228.102">[5-0]</tspan></text>
        <text id="Control_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="18" font-weight="900" letter-spacing="0em"><tspan x="1114.08" y="153.652">Control</tspan></text>
        <path id="Sign_Extend_background" d="M1518 833C1518 846.686 1515.22 859.026 1510.78 867.908C1506.31 876.85 1500.32 882 1494 882C1487.68 882 1481.69 876.85 1477.22 867.908C1472.78 859.026 1470 846.686 1470 833C1470 819.314 1472.78 806.974 1477.22 798.092C1481.69 789.15 1487.68 784 1494 784C1500.32 784 1506.31 789.15 1510.78 798.092C1515.22 806.974 1518 819.314 1518 833Z" fill="white" stroke="black" stroke-width="2"/>
        <text id="Sign_Extend_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" font-weight="900" letter-spacing="0em"><tspan x="1480.73" y="829.943">Sign&#10;</tspan><tspan x="1474.01" y="844.943">extend</tspan></text>
        <rect id="ALUSelA_background" x="1711" y="407" width="50" height="138" rx="25" fill="white" stroke="black" stroke-width="2"/>
        <text id="ALUSelA_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1740.48" y="462.969">m&#10;</tspan><tspan x="1743.09" y="481.969">u&#10;</tspan><tspan x="1743.53" y="500.969">x</tspan></text>
        <text id="ALUSelA_0_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1725.01" y="440.969">0</tspan></text>
        <circle id="ALUSelA_0_dot" cx="1720" cy="436" r="2" fill="black"/>
        <text id="ALUSelA_1_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1725.01" y="520.969">1</tspan></text>
        <circle id="ALUSelA_1_dot" cx="1720" cy="516" r="2" fill="black"/>
        <rect id="ALUSelB_background" x="1711" y="639" width="50" height="138" rx="25" fill="white" stroke="black" stroke-width="2"/>
        <text id="ALUSelB_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1740.48" y="694.969">m&#10;</tspan><tspan x="1743.09" y="713.969">u&#10;</tspan><tspan x="1743.53" y="732.969">x</tspan></text>
        <text id="ALUSelB_3_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1725.01" y="753.969">3</tspan></text>
        <circle id="ALUSelB_3_dot" cx="1720" cy="749" r="2" fill="black"/>
        <text id="ALUSelB_2_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1725.01" y="725.969">2</tspan></text>
        <circle id="ALUSelB_2_dot" cx="1720" cy="721" r="2" fill="black"/>
        <text id="ALUSelB_1_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1725.01" y="698.969">1</tspan></text>
        <circle id="ALUSelB_1_dot" cx="1720" cy="694" r="2" fill="black"/>
        <text id="ALUSelB_0_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1725.01" y="671.969">0</tspan></text>
        <circle id="ALUSelB_0_dot" cx="1720" cy="667" r="2" fill="black"/>
        <path id="SHL_2_x2_background" d="M1681 832C1681 841.481 1678.25 850.022 1673.86 856.167C1669.47 862.315 1663.5 866 1657 866C1650.5 866 1644.53 862.315 1640.14 856.167C1635.75 850.022 1633 841.481 1633 832C1633 822.519 1635.75 813.978 1640.14 807.833C1644.53 801.685 1650.5 798 1657 798C1663.5 798 1669.47 801.685 1673.86 807.833C1678.25 813.978 1681 822.519 1681 832Z" fill="white" stroke="black" stroke-width="2"/>
        <text id="SHL_2_x2_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="900" letter-spacing="0em"><tspan x="1641.3" y="828.785">Shift&#10;</tspan><tspan x="1640.02" y="844.785">left 2</tspan></text>
        <path id="SHL_2_x2_background_2" d="M2089 395C2089 404.481 2086.25 413.022 2081.86 419.167C2077.47 425.315 2071.5 429 2065 429C2058.5 429 2052.53 425.315 2048.14 419.167C2043.75 413.022 2041 404.481 2041 395C2041 385.519 2043.75 376.978 2048.14 370.833C2052.53 364.685 2058.5 361 2065 361C2071.5 361 2077.47 364.685 2081.86 370.833C2086.25 376.978 2089 385.519 2089 395Z" fill="white" stroke="black" stroke-width="2"/>
        <text id="SHL_2_x2_text_2" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="900" letter-spacing="0em"><tspan x="2049.3" y="391.785">Shift&#10;</tspan><tspan x="2048.02" y="407.785">left 2</tspan></text>
        <rect id="PC_background" x="178" y="392" width="38" height="118" fill="white" stroke="black" stroke-width="2"/>
        <text id="PC_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" font-weight="900" letter-spacing="0em"><tspan x="186.078" y="456.969">PC</tspan></text>
        <path id="ALU_background" d="M1861.68 588.619L1862.16 588.009L1861.69 587.393L1844 564.248L1844 501.516L1966 553.713L1966 621.582L1844 671.51L1844 611.067L1861.68 588.619Z" fill="white" stroke="black" stroke-width="2"/>
        <circle id="ALU_zero_label_dot" cx="1957" cy="564" r="2" fill="black"/>
        <text id="ALU_zero_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="1927.39" y="567.102">Zero</tspan></text>
        <circle id="ALU_result_label_dot_2" cx="1957" cy="610" r="2" fill="black"/>
        <text id="ALU_result_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="1918.29" y="613.102">Result</tspan></text>
        <text id="ALU_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" font-weight="900" letter-spacing="0em"><tspan x="1867.48" y="592.969">ALU</tspan></text>
        <path id="ALU_Control_background" d="M1840 832C1840 845.686 1837.22 858.026 1832.78 866.908C1828.31 875.85 1822.32 881 1816 881C1809.68 881 1803.69 875.85 1799.22 866.908C1794.78 858.026 1792 845.686 1792 832C1792 818.314 1794.78 805.974 1799.22 797.092C1803.69 788.15 1809.68 783 1816 783C1822.32 783 1828.31 788.15 1832.78 797.092C1837.22 805.974 1840 818.314 1840 832Z" fill="white" stroke="black" stroke-width="2"/>
        <text id="ALU_Control_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" font-weight="900" letter-spacing="0em"><tspan x="1803.8" y="828.943">ALU&#10;</tspan><tspan x="1795.28" y="843.943">control</tspan></text>
        <rect id="MemToReg_background" x="2186" y="260" width="50" height="138" rx="25" fill="white" stroke="black" stroke-width="2"/>
        <text id="MemToReg_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="2215.48" y="315.969">m&#10;</tspan><tspan x="2218.09" y="334.969">u&#10;</tspan><tspan x="2218.53" y="353.969">x</tspan></text>
        <text id="PCSource_0_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="2200.01" y="293.969">0</tspan></text>
        <circle id="PCSource_0_dot" cx="2195" cy="289" r="2" fill="black"/>
        <text id="PCSource_2_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="2200.01" y="373.969">2</tspan></text>
        <circle id="PCSource_2_dot" cx="2195" cy="369" r="2" fill="black"/>
        <text id="PCSource_1_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="2200.01" y="333.969">1</tspan></text>
        <circle id="PCSource_1_dot" cx="2195" cy="329" r="2" fill="black"/>
        <rect id="Target_background" x="2105" y="308" width="38" height="78" transform="rotate(90 2105 308)" fill="white" stroke="black" stroke-width="2"/>
        <text id="Target_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" font-weight="900" letter-spacing="0em"><tspan x="2043.39" y="332.969">Target</tspan></text>
    </svg>
</div>
