<div class="bg-gray-200 rounded-lg shadow-md p-4 pt-6">
    <svg viewBox="0 0 2114 903" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="MIPS">
            <path id="189" d="M1014 523V406.086H1115L1115.5 200.5H1011.5" stroke="black"/>
            <path id="188" d="M1233 431V180H1025.5" stroke="black"/>
            <path id="187" d="M1582.5 741.5V768H1623V140L1037 140" stroke="black"/>
            <path id="186" d="M1662.5 845.5V878H1833V120H1038" stroke="black"/>
            <path id="185" d="M2057 224V80H1036.5" stroke="black"/>
            <path id="184" d="M1055.5 662.5V341.5H894.5V200.5H968.5" stroke="black"/>
            <path id="183" d="M703 431.5V180H955" stroke="black"/>
            <path id="182" d="M408 430V160H947" stroke="black"/>
            <path id="181" d="M253 431V140H943" stroke="black"/>
            <path id="180" d="M157 386V120H941" stroke="black"/>
            <path id="179" d="M1812.5 528H1822V251.5H623.5" stroke="black"/>
            <path id="178" d="M512.5 240L578.5 240" stroke="black"/>
            <path id="177" d="M43 356V233H463.5" stroke="black"/>
            <path id="176" d="M623 230H673.223V100H941.5" stroke="black"/>
            <path id="175" d="M513.5 220H542.534V80H943.5" stroke="black"/>
            <path id="174" d="M1582 370V160H1033" stroke="black"/>
            <path id="173" d="M1913 272V100H1039" stroke="black"/>
            <text id="172" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1043" y="193.943">RegDst</tspan></text>
            <text id="171" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1043" y="172.943">RegWrite</tspan></text>
            <text id="170" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1043" y="152.943">ALUSelA</tspan></text>
            <text id="169" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1043" y="132.943">ALUSelB</tspan></text>
            <text id="168" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1043" y="113.943">ALUOp</tspan></text>
            <text id="167" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1043" y="92.9434">TargetWrite</tspan></text>
            <text id="166" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="1043" y="73.9434">PCSource</tspan></text>
            <text id="165" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="870.616" y="193.943">MemToReg</tspan></text>
            <text id="164" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="895.334" y="172.943">IRWrite</tspan></text>
            <text id="163" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="877.243" y="152.943">MemWrite</tspan></text>
            <text id="162" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="878.043" y="132.943">MemRead</tspan></text>
            <text id="161" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="913.488" y="113.943">lorD</tspan></text>
            <text id="160" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="859.825" y="92.9434">PCWriteCond</tspan></text>
            <text id="159" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" letter-spacing="0em"><tspan x="890.218" y="73.9434">PCWrite</tspan></text>
            <path id="158" d="M825 486H851V433.574V381H990V324" stroke="black" stroke-width="2"/>
            <circle id="157" cx="106" cy="604" r="3" fill="black"/>
            <circle id="156" cx="517" cy="456" r="3" fill="black"/>
            <circle id="155" cx="883" cy="456" r="3" fill="black"/>
            <circle id="154" cx="945" cy="499" r="3" fill="black"/>
            <circle id="153" cx="883" cy="499" r="3" fill="black"/>
            <circle id="152" cx="883" cy="607" r="3" fill="black"/>
            <circle id="151" cx="883" cy="639" r="3" fill="black"/>
            <circle id="150" cx="988" cy="900" r="3" fill="black"/>
            <circle id="148" cx="1255" cy="797" r="3" fill="black"/>
            <circle id="147" cx="1433" cy="797" r="3" fill="black"/>
            <circle id="144" cx="1449" cy="631" r="3" fill="black"/>
            <circle id="143" cx="1843" cy="574" r="3" fill="black"/>
            <circle id="142" cx="1703" cy="359" r="3" fill="black"/>
            <circle id="141" cx="1843" cy="294" r="3" fill="black"/>
            <circle id="140" cx="1496" cy="323" r="3" fill="black"/>
            <circle id="139" cx="96" cy="415" r="3" fill="black"/>
            <path id="137" d="M519 456H575.5" stroke="black" stroke-width="2"/>
            <path id="136" d="M516.999 456L516.999 847L988 847" stroke="black" stroke-width="2"/>
            <path id="135" d="M519 456H575.5" stroke="black" stroke-width="2"/>
            <path id="134" d="M465 456H515.5" stroke="black" stroke-width="2"/>
            <path id="133" d="M106 605L106 900L988 900" stroke="black" stroke-width="2"/>
            <path id="132" d="M106 605.5V495H130.5" stroke="black" stroke-width="2"/>
            <path id="131" d="M106 604H215.5" stroke="black" stroke-width="2"/>
            <path id="130" d="M181 455H215" stroke="black" stroke-width="2"/>
            <path id="129" d="M96 415H130" stroke="black" stroke-width="2"/>
            <path id="128" d="M96 415L96.0001 323L989 323" stroke="black" stroke-width="2"/>
            <path id="127" d="M62 415H96" stroke="black" stroke-width="2"/>
            <path id="126" d="M577 456L568 461.196L568 450.804L577 456Z" fill="black"/>
            <path id="125" d="M1112 605L1103 610.196L1103 599.804L1112 605Z" fill="black"/>
            <path id="124" d="M1112 657L1103 662.196L1103 651.804L1112 657Z" fill="black"/>
            <path id="123" d="M1317 797L1308 802.196L1308 791.804L1317 797Z" fill="black"/>
            <path id="122" d="M1558 685L1549 690.196L1549 679.804L1558 685Z" fill="black"/>
            <path id="121" d="M1558 713L1549 718.196L1549 707.804L1558 713Z" fill="black"/>
            <path id="120" d="M1558 658L1549 663.196L1549 652.804L1558 658Z" fill="black"/>
            <path id="119" d="M1480 797L1471 802.196L1471 791.804L1480 797Z" fill="black"/>
            <path id="118" d="M1558 631L1549 636.196L1549 625.804L1558 631Z" fill="black"/>
            <path id="117" d="M1692 605L1683 610.196L1683 599.804L1692 605Z" fill="black"/>
            <path id="116" d="M1692 500L1683 505.196L1683 494.804L1692 500Z" fill="black"/>
            <path id="115" d="M1875 294L1866 299.196L1866 288.804L1875 294Z" fill="black"/>
            <path id="114" d="M2033 333L2024 338.196L2024 327.804L2033 333Z" fill="black"/>
            <path id="113" d="M2033 293L2024 298.196L2024 287.804L2033 293Z" fill="black"/>
            <path id="112" d="M2033 253L2024 258.196L2024 247.804L2033 253Z" fill="black"/>
            <path id="111" d="M1037 747L1028 752.196L1028 741.804L1037 747Z" fill="black"/>
            <path id="110" d="M1037 685L1028 690.196L1028 679.804L1037 685Z" fill="black"/>
            <path id="109" d="M1112 511L1103 516.196L1103 505.804L1112 511Z" fill="black"/>
            <path id="108" d="M996 545L987 550.196L987 539.804L996 545Z" fill="black"/>
            <path id="107" d="M996 607L987 612.196L987 601.804L996 607Z" fill="black"/>
            <path id="106" d="M1112 456L1103 461.196L1103 450.804L1112 456Z" fill="black"/>
            <path id="105" d="M1559 480L1550 485.196L1550 474.804L1559 480Z" fill="black"/>
            <path id="104" d="M1559 399L1550 404.196L1550 393.804L1559 399Z" fill="black"/>
            <path id="103" d="M1703 360L1697.8 351L1708.2 351L1703 360Z" fill="black"/>
            <path id="102" d="M990 209L995.196 218H984.804L990 209Z" fill="black"/>
            <path id="101" d="M217 604L208 609.196L208 598.804L217 604Z" fill="black"/>
            <path id="100" d="M217 655L208 660.196L208 649.804L217 655Z" fill="black"/>
            <path id="99" d="M132 495L123 500.196L123 489.804L132 495Z" fill="black"/>
            <path id="98" d="M217 455L208 460.196L208 449.804L217 455Z" fill="black"/>
            <path id="97" d="M132 415L123 420.196L123 409.804L132 415Z" fill="black"/>
            <path id="96" d="M25 415L16 420.196L16 409.804L25 415Z" fill="black"/>
            <path id="95" d="M824 639H882" stroke="black" stroke-width="2"/>
            <path id="94" d="M883 499H1061V511H1110" stroke="black" stroke-width="2"/>
            <path id="93" d="M883 456.5L1107.5 456.5" stroke="black" stroke-width="2"/>
            <path id="92" d="M1360 480H1557" stroke="black" stroke-width="2"/>
            <path id="91" d="M991 323H1495.5" stroke="black" stroke-width="2"/>
            <path id="90" d="M882.5 607H995" stroke="black" stroke-width="2"/>
            <path id="89" d="M883 639L883 797L987.5 797" stroke="black" stroke-width="2"/>
            <path id="88" d="M883 381L883 456" stroke="black" stroke-width="2"/>
            <path id="87" d="M883 456L883 499" stroke="black" stroke-width="2"/>
            <path id="86" d="M1495.5 359L990.5 359" stroke="black" stroke-width="2"/>
            <path id="85" d="M990 359L883 359L883 381" stroke="black" stroke-width="2"/>
            <path id="84" d="M883 607L883 639" stroke="black" stroke-width="2"/>
            <path id="83" d="M883 499L883 607" stroke="black" stroke-width="2"/>
            <path id="82" d="M1110.5 605L1078 605L1078 574.5L1032.5 574.5" stroke="black" stroke-width="2"/>
            <text id="81" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="890" y="433.785">Intruction&#10;</tspan><tspan x="890" y="449.785">[25-21]</tspan></text>
            <text id="80" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="890" y="476.785">Intruction&#10;</tspan><tspan x="890" y="492.785">[20-16]</tspan></text>
            <text id="79" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="890" y="584.785">Intruction&#10;</tspan><tspan x="890" y="600.785">[15-11]</tspan></text>
            <text id="78" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="890" y="771.785">Intruction&#10;</tspan><tspan x="890" y="787.785">[15-0]</tspan></text>
            <text id="77" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1260" y="843.785">Intruction&#10;</tspan><tspan x="1260" y="859.785">[5-0]</tspan></text>
            <text id="76" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1639" y="316.785">PC [31-28]</tspan></text>
            <text id="75" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1275" y="786.785">16</tspan></text>
            <path id="74" d="M945 500V545H994" stroke="black" stroke-width="2"/>
            <path id="73" d="M1074 719H1091.23V657H1111" stroke="black" stroke-width="2"/>
            <path id="72" d="M988 900V885.5" stroke="black" stroke-width="2"/>
            <path id="71" d="M988 886V847" stroke="black" stroke-width="2"/>
            <path id="70" d="M988 847L1013 847L1013 798" stroke="black" stroke-width="2"/>
            <path id="69" d="M988 797L1013 797" stroke="black" stroke-width="2"/>
            <path id="68" d="M988 847V797" stroke="black" stroke-width="2"/>
            <path id="67" d="M988 797V685H1035.5" stroke="black" stroke-width="2"/>
            <path id="66" d="M1013 797L1013 747H1034.5" stroke="black" stroke-width="2"/>
            <path id="65" d="M216 655L183 655L183 885.003L987.5 885.003" stroke="black" stroke-width="2"/>
            <path id="69_2" d="M1013 797.001L1254.5 797.001" stroke="black" stroke-width="2"/>
            <path id="63" d="M988 900L1843 899.999C1843 899.999 1843 724.31 1843 597C1843 594.266 1843 574 1843 574" stroke="black" stroke-width="2"/>
            <path id="62" d="M1254.5 797.003L1310 797.002" stroke="black" stroke-width="2"/>
            <path id="61" d="M1365 797.004L1415 797.003" stroke="black" stroke-width="2"/>
            <path id="60" d="M1433 797.001L1449 797.001" stroke="black" stroke-width="2"/>
            <path id="59" d="M1415 797L1433 797" stroke="black" stroke-width="2"/>
            <path id="58" d="M1415 869L1415 885L988 885" stroke="black" stroke-width="2"/>
            <path id="57" d="M1415 869L1449 869" stroke="black" stroke-width="2"/>
            <path id="56" d="M1415 797L1415 869" stroke="black" stroke-width="2"/>
            <path id="55" d="M1415 631H1449" stroke="black" stroke-width="2"/>
            <path id="54" d="M1415 632L1415 797" stroke="black" stroke-width="2"/>
            <path id="53" d="M1450 797.001L1478 797.001" stroke="black" stroke-width="2"/>
            <path id="52" d="M1290 803L1277 790" stroke="black"/>
            <text id="51" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1382" y="786.785">32</tspan></text>
            <text id="50" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1513" y="662.785">4</tspan></text>
            <path id="49" d="M1397 803L1384 790" stroke="black"/>
            <text id="48" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1857" y="348.785">30</tspan></text>
            <path id="47" d="M1872 365L1859 352" stroke="black"/>
            <text id="46" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1959" y="348.785">32</tspan></text>
            <path id="45" d="M1974 365L1961 352" stroke="black"/>
            <path id="44" d="M1449 869L1590.5 869L1590.5 798L1637 798" stroke="black" stroke-width="2"/>
            <path id="43" d="M1449 797V684.5" stroke="black" stroke-width="2"/>
            <path id="42" d="M1449 869V797" stroke="black" stroke-width="2"/>
            <path id="41" d="M1449 684V630" stroke="black" stroke-width="2"/>
            <path id="40" d="M1449 631L1556.5 631" stroke="black" stroke-width="2"/>
            <path id="39" d="M1360 631L1415 631" stroke="black" stroke-width="2"/>
            <path id="38" d="M1556 685L1449 685" stroke="black" stroke-width="2"/>
            <path id="37" d="M1758 608L1758 798L1686 798" stroke="black" stroke-width="2"/>
            <path id="36" d="M1556 713L1536 713L1536 797L1517 797" stroke="black" stroke-width="2"/>
            <path id="35" d="M1556 658L1525.5 658" stroke="black" stroke-width="2"/>
            <path id="34" d="M990 322.75V218" stroke="black" stroke-width="2"/>
            <path id="33" d="M1496 359V322" stroke="black" stroke-width="2"/>
            <path id="32" d="M1843 574L1813 574" stroke="black" stroke-width="2"/>
            <path id="31" d="M1873 294L1843 294" stroke="black" stroke-width="2"/>
            <path id="30" d="M1886.5 359L1843 359" stroke="black" stroke-width="2"/>
            <path id="29" d="M1843 359L1703 359" stroke="black" stroke-width="2"/>
            <path id="28" d="M2032 253L1843 253L1843 294" stroke="black" stroke-width="2"/>
            <path id="27" d="M2031.5 293L1951.5 293" stroke="black" stroke-width="2"/>
            <path id="26" d="M24 415H1.00007L0.999982 1.00009L2113 1.00006L2113 295.67L2081.55 295.67" stroke="black" stroke-width="2"/>
            <path id="25" d="M1843 358V302.5V294" stroke="black" stroke-width="2"/>
            <path id="24" d="M2031.5 333L2001.25 333L2001.25 359L1936 359" stroke="black" stroke-width="2"/>
            <path id="23" d="M1843 574L1843 360" stroke="black" stroke-width="2"/>
            <path id="22" d="M1690 500L1643 500L1643 440L1608 440" stroke="black" stroke-width="2"/>
            <path id="21" d="M1690 605L1643 605L1643 673L1608 673" stroke="black" stroke-width="2"/>
            <path id="20" d="M1703 358L1703 323L1497 323" stroke="black" stroke-width="2"/>
            <path id="19" d="M1703 358.999L1497 358.999" stroke="black" stroke-width="2"/>
            <path id="18" d="M1557 399.5H1496L1496 359" stroke="black" stroke-width="2"/>
            <path id="17" d="M1433 798V685L1449 685" stroke="black" stroke-width="2"/>
            <path id="16" d="M1255 797L1255 869L1415 869" stroke="black" stroke-width="2"/>
            <path id="15" d="M1639 798L1630 803.196L1630 792.804L1639 798Z" fill="black"/>
            <rect id="14" x="989" y="358" width="2" height="2" fill="black"/>
            <rect id="13" x="989" y="322" width="2" height="2" fill="black"/>
            <rect id="12" x="1495" y="358" width="2" height="2" fill="black"/>
            <rect id="11" x="1842" y="358" width="2" height="2" fill="black"/>
            <rect id="10" x="882" y="380" width="2" height="2" fill="black"/>
            <rect id="9" x="987" y="796" width="2" height="2" fill="black"/>
            <rect id="8" x="1012" y="796" width="2" height="2" fill="black"/>
            <rect id="7" x="987" y="846" width="2" height="2" fill="black"/>
            <rect id="6" x="1414" y="868" width="2" height="2" fill="black"/>
            <rect id="5" x="1448" y="868" width="2" height="2" fill="black"/>
            <rect id="4" x="1448" y="796" width="2" height="2" fill="black"/>
            <rect id="3" x="1448" y="684" width="2" height="2" fill="black"/>
            <rect id="2" x="987" y="884" width="2" height="2" fill="black"/>
            <rect id="1" x="1414" y="630" width="2" height="2" fill="black"/>
            <g id="AND_gate">
                <path id="AND_gate_background" d="M600.462 262.925C588.057 262.925 578 252.868 578 240.462C578 228.057 588.057 218 600.462 218L622.925 218L622.925 262.925L600.462 262.925Z" fill="white" stroke="black" stroke-width="2"/>
            </g>
            <g id="OR_gate">
                <path id="OR_gate_background" d="M501.002 250.059C494.213 250.059 484.852 248.349 477.218 244.943C469.499 241.5 464 236.546 464 230.273C464 224.127 469.44 219.299 477.085 215.952C484.642 212.643 493.897 211 500.57 211L515.571 211C512.906 218.442 511.541 224.466 511.539 230.528C511.536 236.59 512.895 242.616 515.57 250.059L501.002 250.059Z" fill="white" stroke="black" stroke-width="2"/>
            </g>
            <g id="RegDst">
                <rect id="RegDst_background" x="995" y="523" width="38" height="105.692" rx="19" fill="white" stroke="black" stroke-width="2"/>
                <text id="RegDst_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1015.83" y="568.969">m&#10;</tspan><tspan x="1018.43" y="587.969">u&#10;</tspan><tspan x="1018.88" y="606.969">x</tspan></text>
                <g id="RegDst_0">
                    <text id="RegDst_0_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1004.51" y="552.507">0</tspan></text>
                    <circle id="RegDst_0_dot" cx="1001.69" cy="545.231" r="1.53846" fill="black"/>
                </g>
                <g id="RegDst_1">
                    <text id="RegDst_1_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1004.51" y="614.046">1</tspan></text>
                    <circle id="RegDst_1_dot" cx="1001.69" cy="606.769" r="1.53846" fill="black"/>
                </g>
            </g>
            <g id="RegDst_2">
                <rect id="RegDst_background_2" x="1036" y="663" width="38" height="105.692" rx="19" fill="white" stroke="black" stroke-width="2"/>
                <text id="RegDst_text_2" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1056.83" y="708.969">m&#10;</tspan><tspan x="1059.43" y="727.969">u&#10;</tspan><tspan x="1059.88" y="746.969">x</tspan></text>
                <g id="RegDst_0_2">
                    <text id="RegDst_0_text_2" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1045.51" y="692.507">0</tspan></text>
                    <circle id="RegDst_0_dot_2" cx="1042.69" cy="685.231" r="1.53846" fill="black"/>
                </g>
                <g id="RegDst_1_2">
                    <text id="RegDst_1_text_2" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1045.51" y="754.046">1</tspan></text>
                    <circle id="RegDst_1_dot_2" cx="1042.69" cy="746.769" r="1.53846" fill="black"/>
                </g>
            </g>
            <g id="registers">
                <rect id="registers_background" x="1111" y="431" width="248" height="248" rx="8" fill="white" stroke="black" stroke-width="2"/>
                <text id="registers_label" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="20" font-weight="900" letter-spacing="0em"><tspan x="1191" y="561.336">Registers</tspan></text>
                <g id="read_register_1_label">
                    <circle id="read_register_1_label_dot" cx="1120" cy="456" r="2" fill="black"/>
                    <text id="read_register_1_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1130" y="452.785">Read&#10;</tspan><tspan x="1130" y="468.785">Register 1</tspan></text>
                </g>
                <g id="read_register_2_label">
                    <circle id="read_register_2_label_dot" cx="1120" cy="511" r="2" fill="black"/>
                    <text id="read_register_2_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1130" y="506.785">Read&#10;</tspan><tspan x="1130" y="522.785">Register 2</tspan></text>
                </g>
                <g id="read_data_1_label">
                    <circle id="read_data_1_label_dot" cx="1349" cy="480" r="2" fill="black"/>
                    <text id="read_data_1_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1264.91" y="483.785">Read data 1</tspan></text>
                </g>
                <g id="read_data_2_label">
                    <circle id="read_data_2_label_dot" cx="1349" cy="631" r="2" fill="black"/>
                    <text id="read_data_2_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1264.91" y="635.785">Read data 2</tspan></text>
                </g>
                <g id="write_register_label">
                    <circle id="write_register_label_dot" cx="1120" cy="607" r="2" fill="black"/>
                    <text id="write_register_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1130" y="602.785">Write&#10;</tspan><tspan x="1130" y="618.785">Register</tspan></text>
                </g>
                <g id="write_data_label">
                    <circle id="write_data_label_dot" cx="1120" cy="657" r="2" fill="black"/>
                    <text id="write_data_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="1130" y="652.785">Write&#10;</tspan><tspan x="1130" y="668.785">data</tspan></text>
                </g>
            </g>
            <g id="intruction_register">
                <rect id="instruction_background" x="576" y="431" width="248" height="248" rx="8" fill="white" stroke="black" stroke-width="2"/>
                <text id="instruction_label" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="20" font-weight="900" letter-spacing="0em"><tspan x="650.193" y="550.336">Instruction&#10;</tspan><tspan x="664.051" y="573.336">register</tspan></text>
                <g id="instruction_25_0_label">
                    <circle id="instruction_25_0_label_dot" cx="814" cy="486" r="2" fill="black"/>
                    <text id="instruction_25_0_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="737.172" y="483.785">Instruction&#10;</tspan><tspan x="761.248" y="499.785">[31-26]</tspan></text>
                </g>
                <g id="instruction_31_26_label">
                    <circle id="instruction_31_26_label_dot" cx="814" cy="639" r="2" fill="black"/>
                    <text id="instruction_31_26_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="737.172" y="635.785">Instruction&#10;</tspan><tspan x="769.109" y="651.785">[25-0]</tspan></text>
                </g>
            </g>
            <g id="memory">
                <rect id="memory_background" x="216" y="431" width="248" height="248" rx="8" fill="white" stroke="black" stroke-width="2"/>
                <text id="memory_label" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="20" font-weight="900" letter-spacing="0em"><tspan x="302.49" y="561.336">Memory</tspan></text>
                <g id="mem_data_label">
                    <circle id="mem_data_label_dot" cx="454" cy="456" r="2" fill="black"/>
                    <text id="mem_data_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="383.078" y="459.785">MemData</tspan></text>
                </g>
                <g id="read_address_label">
                    <circle id="read_address_label_dot" cx="225" cy="455" r="2" fill="black"/>
                    <text id="read_address_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="230" y="458.785">Read Address</tspan></text>
                </g>
                <g id="write_address_label">
                    <circle id="write_address_label_dot" cx="225" cy="604" r="2" fill="black"/>
                    <text id="write_address_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="230" y="607.785">Write address</tspan></text>
                </g>
                <g id="write_data_label_2">
                    <circle id="write_data_label_dot_2" cx="225" cy="655" r="2" fill="black"/>
                    <text id="write_data_label_text_2" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" letter-spacing="0em"><tspan x="230" y="658.785">Write data</tspan></text>
                </g>
            </g>
            <g id="lorD">
                <rect id="lorD_background" x="131" y="386" width="50" height="138" rx="25" fill="white" stroke="black" stroke-width="2"/>
                <text id="lorD_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="160.484" y="441.969">m&#10;</tspan><tspan x="163.086" y="460.969">u&#10;</tspan><tspan x="163.531" y="479.969">x</tspan></text>
                <g id="lorD_0">
                    <text id="lorD_0_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="145.008" y="419.969">0</tspan></text>
                    <circle id="lorD_0_dot" cx="140" cy="415" r="2" fill="black"/>
                </g>
                <g id="lorD_1">
                    <text id="lorD_1_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="145.008" y="499.969">1</tspan></text>
                    <circle id="lorD_1_dot" cx="140" cy="495" r="2" fill="black"/>
                </g>
            </g>
            <g id="Control">
                <path id="Control_background" d="M1039 111C1039 138.493 1033.43 163.333 1024.46 181.263C1015.47 199.254 1003.22 210 990 210C976.776 210 964.534 199.254 955.539 181.263C946.574 163.333 941 138.493 941 111C941 83.5073 946.574 58.6669 955.539 40.7365C964.534 22.7464 976.776 12 990 12C1003.22 12 1015.47 22.7464 1024.46 40.7365C1033.43 58.6669 1039 83.5073 1039 111Z" fill="white" stroke="black" stroke-width="2"/>
                <text id="Control_claim" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="969.365" y="44.1016">Outputs</tspan></text>
                <g id="Control_op">
                    <circle id="ALU_result_label_dot" cx="990" cy="201" r="2" fill="black"/>
                    <text id="Control_op_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="982.506" y="178.102">Op&#10;</tspan><tspan x="978.416" y="192.102">[5-0]</tspan></text>
                </g>
                <text id="Control_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="18" font-weight="900" letter-spacing="0em"><tspan x="960.082" y="117.652">Control</tspan></text>
            </g>
            <g id="Sign_Extend">
                <path id="Sign_Extend_background" d="M1364 797C1364 810.686 1361.22 823.026 1356.78 831.908C1352.31 840.85 1346.32 846 1340 846C1333.68 846 1327.69 840.85 1323.22 831.908C1318.78 823.026 1316 810.686 1316 797C1316 783.314 1318.78 770.974 1323.22 762.092C1327.69 753.15 1333.68 748 1340 748C1346.32 748 1352.31 753.15 1356.78 762.092C1361.22 770.974 1364 783.314 1364 797Z" fill="white" stroke="black" stroke-width="2"/>
                <text id="Sign_Extend_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" font-weight="900" letter-spacing="0em"><tspan x="1326.73" y="793.943">Sign&#10;</tspan><tspan x="1320.01" y="808.943">extend</tspan></text>
            </g>
            <g id="ALUSelA">
                <rect id="ALUSelA_background" x="1557" y="371" width="50" height="138" rx="25" fill="white" stroke="black" stroke-width="2"/>
                <text id="ALUSelA_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1586.48" y="426.969">m&#10;</tspan><tspan x="1589.09" y="445.969">u&#10;</tspan><tspan x="1589.53" y="464.969">x</tspan></text>
                <g id="ALUSelA_0">
                    <text id="ALUSelA_0_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1571.01" y="404.969">0</tspan></text>
                    <circle id="ALUSelA_0_dot" cx="1566" cy="400" r="2" fill="black"/>
                </g>
                <g id="ALUSelA_1">
                    <text id="ALUSelA_1_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1571.01" y="484.969">1</tspan></text>
                    <circle id="ALUSelA_1_dot" cx="1566" cy="480" r="2" fill="black"/>
                </g>
            </g>
            <g id="ALUSelB">
                <rect id="ALUSelB_background" x="1557" y="603" width="50" height="138" rx="25" fill="white" stroke="black" stroke-width="2"/>
                <text id="ALUSelB_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1586.48" y="658.969">m&#10;</tspan><tspan x="1589.09" y="677.969">u&#10;</tspan><tspan x="1589.53" y="696.969">x</tspan></text>
                <g id="ALUSelB_3">
                    <text id="ALUSelB_3_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1571.01" y="717.969">3</tspan></text>
                    <circle id="ALUSelB_3_dot" cx="1566" cy="713" r="2" fill="black"/>
                </g>
                <g id="ALUSelB_2">
                    <text id="ALUSelB_2_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1571.01" y="689.969">2</tspan></text>
                    <circle id="ALUSelB_2_dot" cx="1566" cy="685" r="2" fill="black"/>
                </g>
                <g id="ALUSelB_1">
                    <text id="ALUSelB_1_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1571.01" y="662.969">1</tspan></text>
                    <circle id="ALUSelB_1_dot" cx="1566" cy="658" r="2" fill="black"/>
                </g>
                <g id="ALUSelB_0">
                    <text id="ALUSelB_0_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="1571.01" y="635.969">0</tspan></text>
                    <circle id="ALUSelB_0_dot" cx="1566" cy="631" r="2" fill="black"/>
                </g>
            </g>
            <g id="SHL_2_x2">
                <path id="SHL_2_x2_background" d="M1527 796C1527 805.481 1524.25 814.022 1519.86 820.167C1515.47 826.315 1509.5 830 1503 830C1496.5 830 1490.53 826.315 1486.14 820.167C1481.75 814.022 1479 805.481 1479 796C1479 786.519 1481.75 777.978 1486.14 771.833C1490.53 765.685 1496.5 762 1503 762C1509.5 762 1515.47 765.685 1519.86 771.833C1524.25 777.978 1527 786.519 1527 796Z" fill="white" stroke="black" stroke-width="2"/>
                <text id="SHL_2_x2_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="900" letter-spacing="0em"><tspan x="1487.3" y="792.785">Shift&#10;</tspan><tspan x="1486.02" y="808.785">left 2</tspan></text>
            </g>
            <g id="SHL_2_x2_2">
                <path id="SHL_2_x2_background_2" d="M1935 359C1935 368.481 1932.25 377.022 1927.86 383.167C1923.47 389.315 1917.5 393 1911 393C1904.5 393 1898.53 389.315 1894.14 383.167C1889.75 377.022 1887 368.481 1887 359C1887 349.519 1889.75 340.978 1894.14 334.833C1898.53 328.685 1904.5 325 1911 325C1917.5 325 1923.47 328.685 1927.86 334.833C1932.25 340.978 1935 349.519 1935 359Z" fill="white" stroke="black" stroke-width="2"/>
                <text id="SHL_2_x2_text_2" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="900" letter-spacing="0em"><tspan x="1895.3" y="355.785">Shift&#10;</tspan><tspan x="1894.02" y="371.785">left 2</tspan></text>
            </g>
            <g id="PC">
                <rect id="PC_background" x="24" y="356" width="38" height="118" fill="white" stroke="black" stroke-width="2"/>
                <text id="PC_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" font-weight="900" letter-spacing="0em"><tspan x="32.0781" y="420.969">PC</tspan></text>
            </g>
            <g id="ALU">
                <path id="ALU_background" d="M1707.68 552.619L1708.16 552.009L1707.69 551.393L1690 528.248L1690 465.516L1812 517.713L1812 585.582L1690 635.51L1690 575.067L1707.68 552.619Z" fill="white" stroke="black" stroke-width="2"/>
                <g id="ALU_zero_label">
                    <circle id="ALU_zero_label_dot" cx="1803" cy="528" r="2" fill="black"/>
                    <text id="ALU_zero_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="1773.39" y="531.102">Zero</tspan></text>
                </g>
                <g id="ALU_result_label">
                    <circle id="ALU_result_label_dot_2" cx="1803" cy="574" r="2" fill="black"/>
                    <text id="ALU_result_label_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="1764.29" y="577.102">Result</tspan></text>
                </g>
                <text id="ALU_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" font-weight="900" letter-spacing="0em"><tspan x="1713.48" y="556.969">ALU</tspan></text>
            </g>
            <g id="ALU_Control">
                <path id="ALU_Control_background" d="M1686 796C1686 809.686 1683.22 822.026 1678.78 830.908C1674.31 839.85 1668.32 845 1662 845C1655.68 845 1649.69 839.85 1645.22 830.908C1640.78 822.026 1638 809.686 1638 796C1638 782.314 1640.78 769.974 1645.22 761.092C1649.69 752.15 1655.68 747 1662 747C1668.32 747 1674.31 752.15 1678.78 761.092C1683.22 769.974 1686 782.314 1686 796Z" fill="white" stroke="black" stroke-width="2"/>
                <text id="ALU_Control_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="13" font-weight="900" letter-spacing="0em"><tspan x="1649.8" y="792.943">ALU&#10;</tspan><tspan x="1641.28" y="807.943">control</tspan></text>
            </g>
            <g id="PCSource">
                <rect id="MemToReg_background" x="2032" y="224" width="50" height="138" rx="25" fill="white" stroke="black" stroke-width="2"/>
                <text id="MemToReg_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="2061.48" y="279.969">m&#10;</tspan><tspan x="2064.09" y="298.969">u&#10;</tspan><tspan x="2064.53" y="317.969">x</tspan></text>
                <g id="PCSource_0">
                    <text id="PCSource_0_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="2046.01" y="257.969">0</tspan></text>
                    <circle id="PCSource_0_dot" cx="2041" cy="253" r="2" fill="black"/>
                </g>
                <g id="PCSource_2">
                    <text id="PCSource_2_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="2046.01" y="337.969">2</tspan></text>
                    <circle id="PCSource_2_dot" cx="2041" cy="333" r="2" fill="black"/>
                </g>
                <g id="PCSource_1">
                    <text id="PCSource_1_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" letter-spacing="0em"><tspan x="2046.01" y="297.969">1</tspan></text>
                    <circle id="PCSource_1_dot" cx="2041" cy="293" r="2" fill="black"/>
                </g>
            </g>
            <g id="Target">
                <rect id="Target_background" x="1951" y="272" width="38" height="78" transform="rotate(90 1951 272)" fill="white" stroke="black" stroke-width="2"/>
                <text id="Target_text" fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="16" font-weight="900" letter-spacing="0em"><tspan x="1889.39" y="296.969">Target</tspan></text>
            </g>
        </g>
    </svg>
</div>
