<tr *ngIf="!register.edit" (click)="handleEditClick(register)" [ngClass]="{ 'cursor-pointer': register.editable }" class="flex flex-row bg-gray-100 border-b shadow text-gray-600 hover:bg-blue-400 hover:text-blue-100">
    <td class="px-4 font-bold py-2 w-1/2">
        {{ register.alias }}
    </td>

    <td class="px-4 py-2 w-1/2 flex flex-row justify-between">
        <!-- Empty element to keep value centered -->
        <span></span>

        <!-- Register value -->
        {{ register.value }}

        <!-- Edit icon -->
        <fa-icon [icon]="faEdit" *ngIf="register.editable"></fa-icon>
        <span *ngIf="!register.editable" style="width: 16px"></span>
    </td>
</tr>

<tr *ngIf="register.edit" class="flex flex-row">
    <td colspan="2" class="border px-4 py-2 font-bold w-full">
        <form (ngSubmit)="handleFormSubmit(register)" #registerForm="ngForm" *ngIf="register.edit">
            <div class="flex flex-row">
                <!-- Edit input -->
                <input type="number"
                       id="register_{{ register.alias }}"
                       name="register_{{ register.alias }}"
                       placeholder="Value"
                       [(ngModel)]="register.editValue"
                       [ngClass]="{ 'border-red-500': !registerForm.valid && !registerForm.pristine }"
                       class="border rounded p-1 w-full border-gray-500 outline-none box-content"
                       min="-2000000"
                       max="2000000"
                       required>

                <!-- Confirm icon -->
                <fa-icon [icon]="faCheck" class="inline-block ml-2 mt-2 text-gray-600 hover:text-gray-900 cursor-pointer" (click)="handleFormSubmit(register)"></fa-icon>

                <!-- Close icon -->
                <fa-icon [icon]="faClose" class="inline-block ml-2 mt-2 text-gray-600 hover:text-gray-900 cursor-pointer" (click)="handleCloseClick($event, register)"></fa-icon>
            </div>
        </form>
    </td>
</tr>
