<div class="w-full h-12 bg-blue-900 flex flex-row justify-between" id="HEADER">
    <span class="text-white font-bold inline-block mt-auto mb-auto ml-3">MIPS Visualiser</span>

    <div class="flex flex-row justify-center">
        <a href="https://github.com/aleksa-sukovic"
           target="_blank"
           class="text-white align-middle p-3 hover:underline hover:text-blue-100">
            GitHub
        </a>

        <a href="https://me.linkedin.com/in/aleksa-sukovic"
           target="_blank"
           class="text-white align-middle p-3 hover:underline hover:text-blue-100">
            LinkedIn
        </a>
    </div>
</div>
