<div class="w-full bg-blue-900 flex flex-row justify-between" id="HEADER">
    <!-- App name -->
    <span class="text-white text-xl font-bold inline-block mt-auto mb-auto ml-3 flex flex-row">
        <img src="assets/svg/cpu.svg" class="inline-block mr-2" alt="CPU logo">
        MIPS Visualiser
    </span>

    <!-- Media links -->
    <div class="flex flex-row justify-center">
        <!-- GitHub -->
        <a href="https://github.com/aleksa-sukovic"
           target="_blank"
           class="text-white align-middle p-3 pr-2">
            <img src="assets/svg/github.svg" alt="Github Link">
        </a>

        <!-- LinkedIn -->
        <a href="https://me.linkedin.com/in/aleksa-sukovic"
           target="_blank"
           class="text-white align-middle p-3 hover:underline hover:text-blue-100">
            <img src="assets/svg/linked-in.svg" alt="LinkedIn Link">
        </a>

        <!-- Website -->
        <a href="https://alsk.dev"
           target="_blank"
           class="text-white align-middle p-3 pl-2 hover:underline hover:text-blue-100">
            <img src="assets/svg/website.svg" alt="LinkedIn Link">
        </a>
    </div>
</div>
