<div class="h-full rounded-lg shadow-md bg-gray-200">
    <p class="text-2xl p-4 rounded-b-none rounded-lg bg-blue-500 text-gray-100 font-bold">Memory editing</p>

    <div class="p-4">
        <span class="text-gray-500 text-gray-600 text-xl block">Set values for memory locations</span>
        <span class="text-gray-500 inline-block mb-3 mt-1">Create, modify and delete values from RAM memory.</span>

        <table class="table-fixed overflow-y-scroll inline-block border rounded w-full" style="height: 40vh;">
            <thead class="flex flex-col">
            <tr class="flex flex-row justify-around">
                <th class="w-1/2 px-4 py-2 font-normal text-lg border-b font-bold text-gray-800 bg-white text-left">Address</th>
                <th class="w-1/2 px-4 py-2 font-normal text-lg border-b font-bold text-gray-800 bg-white text-center">Value</th>
            </tr>
            </thead>
            <tbody class="flex flex-col">
            <!-- Table Row -->
            <app-memory-item [item]="item" (submit)="handleMemoryEdit($event)" (delete)="handleMemoryItemDelete($event)"
                             *ngFor="let item of memory"></app-memory-item>

            <!-- Add button -->
            <tr class="flex p-3 bg-white">
                <td class="flex flex-grow">
                    <button (click)="handleAddButtonClick()" class="block px-2 py-1 bg-gray-300 flex-grow rounded text-gray-600 hover:bg-gray-400 hover:text-gray-100">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
