<div class="h-full p-6 hover:bg-gray-200">
    <p class="text-2xl text-gray-600">Memory editing</p>
    <span class="text-gray-500 inline-block mt-2">In addition to registers, processor has RAM (random access memory) to work with.</span>
    <span class="text-gray-500 inline-block mb-3 mt-1">RAM is several times slower than register memory, but it has much higher capacity.</span>

    <table class="table-fixed overflow-y-scroll inline-block border rounded w-full" style="height: 40vh;">
        <thead class="flex flex-col">
        <tr class="flex flex-row justify-around">
            <th class="w-1/2 px-4 py-2 font-normal text-lg border-b font-bold border-gray-400 bg-gray-100 text-blue-900 text-left">Address</th>
            <th class="w-1/2 px-4 py-2 font-normal text-lg border-b font-bold border-gray-400 bg-gray-100 text-blue-900 text-center">Value</th>
        </tr>
        </thead>
        <tbody class="flex flex-col">
        <!-- Table Row -->
        <app-memory-item [item]="item" (submit)="handleMemoryEdit($event)" (delete)="handleMemoryItemDelete($event)"
                         *ngFor="let item of memory"></app-memory-item>

        <!-- Add button -->
        <tr class="flex p-3">
            <td class="flex flex-grow">
                <button (click)="handleAddButtonClick()" class="block px-2 py-1 bg-gray-300 flex-grow rounded text-gray-600 hover:bg-gray-400 hover:text-gray-100">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
