<div class="h-full pb-4 rounded-lg shadow-md bg-gray-200">
    <p class="text-2xl p-4 rounded-b-none rounded-lg bg-blue-500 text-gray-100 font-bold">Manipulate individual registers</p>

    <div class="p-4">
        <span class="text-gray-600 text-xl">
            Update values of individual registers
        </span>
        <br>
        <span class="text-gray-500 block mb-3">
            Registers will update in realtime as instruction is executed.
        </span>

        <table class="table-fixed overflow-auto inline-block rounded-lg w-full" style="height: 40vh">
            <thead class="flex flex-col">
            <tr class="flex flex-row justify-around">
                <th class="w-1/2 px-4 py-2 font-normal text-lg border-b font-bold text-gray-800 bg-white text-left">Aliases</th>
                <th class="w-1/2 px-4 py-2 font-normal text-lg border-b font-bold text-gray-800 bg-white text-center">Value</th>
            </tr>
            </thead>
            <tbody class="flex flex-col">
            <app-register-item *ngFor="let register of registers" [register]="register" (submit)="handleRegisterEdit($event)"></app-register-item>
            </tbody>
        </table>
    </div>
</div>

